body, html {
  background-color: darkgray;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: darkgray;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App-main-header {
  width: 100%;
  background-color: #20232a;
  color: white;
  padding: 10px 20px;
  text-align: left;
}

.App-header {
  width: 100%;
  padding: 20px 30px; /* Adjusted to add 30px margin on the left and right */
  background-color: darkgray;
  color: white;
}

.App-content {
  display: flex; /* Changed to flex to layout the sections side by side */
  justify-content: space-between; /* Spread out the sections */
  width: calc(100% - 60px); /* Adjust width to account for 30px margins on each side */
  margin: 30px auto; /* Top and bottom margins of 30px */
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section {
  flex: 1; /* Each section takes equal width */
  margin: 0 15px; /* 30px space between columns divided by two */
}

h1 {
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.spaces-list, .bookings-list, .user-reports-list {
  list-style-type: none;
  padding: 0;
}

.space-item, .booking-item, .user-report-item {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-item img, .user-report-item p {
  max-width: 100px;
  border-radius: 5px;
}

.booking-item button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.booking-item button:hover {
  background-color: #c0392b;
}

.user-report-item button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.user-report-item button:hover {
  background-color: #2980b9;
}
